[Desktop Entry]
Name=Fit for Factory
StartupNotify=true
Terminal=false
Type=Application
Icon=/usr/local/share/applications/fitforfactory/header.PNG
Exec=/usr/local/share/applications/fitforfactory/.venv/bin/python /usr/local/share/applications/fitforfactory/fitforfactory.py
